
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared styles here */

.display {
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight:500;
    font-size: 1.2rem;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* shared color */
.dark-01{
    color:#131313 ;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}

/* background color */
.background-light{
    background-color: rgba(255, 144, 14, 0.1);
    
}



/* nav bar styles    */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700px;
    font-size: 2.8rem;
}
.nav-link{
    text-decoration: none;
}
.nav-items{
    list-style: none;
    margin-right: 25px;
    
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

/* banner styles */
.banner-content{
   max-width: 860px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;

}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 36px;

}
.banner-image{
    width: 100%;
    margin-bottom: 45px;
}

/* main section style start here */
.teams{
    margin-top: 85px;
    margin-left: 30px;
    margin-bottom: 130px;
    align-items: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    max-width: 537px;
    /* border: 2px solid tomato; */
}
.features-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.features-description{
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 32px;

}

/* enjoyable-features styles */
.enjoyable-features{
    gap: 150px;
}
#enjoyable-features-border{
    border-left: 4px solid #FF900E;
}
.enjoyable-features-title{
    padding-left: 20px;
    font-weight: bold;
    font-size: 2.8rem;
}
.features-card{
   margin-top: 20px;
   padding: 30px;
   border-radius: 8px;
   box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
   
}
.card-title{
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

#experience-badge{
    /* max-width: 260px; */
    padding: 42px;
    margin-top: -100px;
    margin-left: -92px;

}
#badge-year{
    font-weight: bold;
    font-size: 4rem;
}
#badge-name{
    font-weight: 500;
    font-size: 1.5rem;
}

/* responsive media quary */
@media screen and (max-width : 576px) {
    
    .nav-bar, .nav-links{
        flex-direction: column;
    }
}